@import url('../../assets/css/styles.css');
:root {
  --box-shadow-principal: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

div.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--fundo-card);
  width: 110px;
  margin: 10px 0;
  padding-top: 10px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-principal)
}

div.weather-temp {
  background-color: var(--destaque-secundario);
  width: 95px;
  height: 70px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: var(--box-shadow-principal);
}

div.weather-temp p {
  padding: 3px 0;
  color: var(--texto);
}

div.temp-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

div.temp-description p {
  font-size: 13px;
  color: var(--texto);
}

img {
  width: 40px;
  padding-top: 10px;
}

@media (max-width: 600px) {
  div.weather-container{
    width: 180px;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 10px;
  }

}