:root {
  --fundo-principal: #a8c7fa;
  --fundo-card: #F8F9FA; 
  --texto: #202124;
  --texto-inverso: #fff;
  --fundo-buttons-inverso: #202124;
  --destaque: #ccc;
  --destaque-secundario: #eee;
  --trash: rgb(220, 76, 100);
  --edit-icon: rgba(84, 180, 211, 1);
  --transition-speed: 0.3s;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  transition: all var(--transition-speed) ease;
}

body.dark{
  --fundo-principal: #202124;
  --fundo-card: #444444;
  --fundo-buttons-inverso: #eee;
  --texto: #eee;;
  --texto-inverso: #202124;
  --destaque: #eee;
  --destaque-secundario: #202124;
  --trash: #eee;
  --edit-icon: #ccc;
}

div#root{
  background-color: var(--fundo-principal);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 20px;
}

main.container {
  min-height: 100px;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 8px;
  background-color: var(--fundo-card);
  border-radius: 8px;
  box-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.input-container{
  position: relative;
}

.input-container input {
  font-size: 1.2rem;
  border: 1px solid var(--destaque);
  height: 80px;
  width: 85%;
  margin: 20px 0;
  padding-right: 90px;
  padding-left: 0.8rem;
  border-radius: 8px;
  background: var(--destaque-secundario);
  transition: 0.2s;
  position: relative;
  display: inline-block;
}

input:focus,
input:not(:placeholder-shown){
  font-size: 14px;
  color: var(--texto);
}

input:focus {
  border-color: var(--fundo-principal);
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
}

.btnSubmit {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--fundo-buttons-inverso);
  color: var(--texto-inverso);
  width: 70px;
  height: 40px;
  margin-left: 15px;
  padding: 11px 0;
  border-radius: 5px;
  font-size: .975rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btnSubmit:hover {
  filter: brightness(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

btnSubmit:focus-visible {
  outline: 3px solid rgba(0, 123, 255, 0.5); 
  outline-offset: 2px;
}

.btnSubmit:active {
  transform: scale(0.97);
  filter: brightness(0.9);
}

div.task-box{
  background-color: var(--fundo-card);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

div.todo-list li {
  position: relative;
  background-color: var(--destaque-secundario);
  color: var(--texto);
  height: 80px;
  width: 85%;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;
  text-align: start;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.055),
    0 2px 2px hsl(0deg 0% 0% / 0.055),
    0 4px 4px hsl(0deg 0% 0% / 0.055),
    0 8px 8px hsl(0deg 0% 0% / 0.055),
    0 16px 16px hsl(0deg 0% 0% / 0.055);
}

i.checkbox {
  position: absolute;
  right: 390px;
  top: 41%;
  color: var(--destaque);
}

i.trash{
  position: absolute;
  right: 15px;
  top: 43%;
 
  color: var(--trash);
}

i.edit-icon{
  position: absolute;
  right: 42px;
  top: 43%;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--edit-icon);
}

.filter-container {
  width: 92%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.filter-container label {
  color: var(--texto);
  font-size: 0.800rem;
}

.btn-SaveEdit {
  position: absolute;
  right: 110px;
  top: 35%;
  background-color: var(--fundo-buttons-inverso);
  color: var(--texto-inverso);
  width: 50px;
  height: 30px;
  margin-left: 15px;
  padding: 11px 0;
  border-radius: 5px;
  font-size: .575rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.btn-SaveEdit:active {
  transform: scale(0.97);
  filter: brightness(0.9);
}

#edit-input{
  position: relative;
  font-size: 1.2rem;
  height: 50px;
  width: 85%;
  margin: 20px 0;
  padding-right: 90px;
  padding-left: 0.8rem;
  border-radius: 8px;
  background: var(--destaque-secundario);
  border: 1px solid var(--destaque);
  outline: none;
  font-size: 14px;
}

select, option {
  color: var(--texto);
  width: 100px;
  height: 30px;
  border: 1px solid var(--destaque);
  background-color: var(--fundo-card);
  outline: none;
  border-radius: 4px;
}

@media (max-width: 600px) {

  header {
    align-items: center;
  }

  main.container {
    width: 300px;
  }

  .input-container .btnSubmit {
  right: 30px;
  }

  i.checkbox {
  right: 220px;
  top: 42%;
}
}